<div class="container-fluid vh-100" style="background-color:#721B09;">
     <div class="row justify-content-center h-100">
        <div class="card w-25 my-auto shadow">
            <div class="card-header text-center">
                <img src="../images/Logo-PKU.png" alt="utm-pku-logo" style="width: 13vw; height: 7vh">
            </div>
            <div class="card-body"> 
                <br><h2 class="text-center" style="color:#721B09;">Login to PKU UTM</h2><br>
                <form action="/adminlogin" method="POST">
                    <div class="form-group">   
                        <label for="username" style="color:#721B09;">Username: </label><br>
                        <input type="text" id="username" class="form-control" name="username" placeholder="Username"><br>
                    </div>
                    <div class="form-group">
                        <label for="password" style="color:#721B09;">Password:</label><br>
                        <input type="password" id="password" class="form-control" name="password" placeholder="Password"><br><br>
                    </div>
                    <input type="submit" class="btn btn-block w-100" style="background-color:#721B09; color:white; " value="Login" />
                </form>
            </div>
        </div>
     </div>
</div>






