<div class="container-fluid vh-100" style="background-color:white;">
     <button type="button" onclick="window.location.href='/patientdashboard'" class="btn btn-danger mt-5 ms-5" style="background-color:#721B09; color:white;">Back</button>
     <div class="row justify-content-center h-100">
        <div class="card w-50 my-auto mt-5 shadow">
            <div class="card-header text-center">
                <div class="row">
                    <div class="col-6">
                        <img src="../images/Logo-PKU.png" alt="utm-pku-logo" style="width: 13vw; height: 7vh">
                    </div>
                    <div class="col-6">
                        <h2 class="text-center p-2" style="color:#721B09;">Book Appointment</h2>
                    </div>
                </div>
            </div>
            <div class="card-body"> 
                <form class="p-5" action="/bookappointments" method="POST" enctype="application/json">
                    {{#if message}}
                        <div class="alert alert-danger" role="alert">
                            {{message}}  
                        </div>
                    {{/if}} 
                    <div style="color:#721B09;">   
                        You can book the appointments from 9am untill 5pm, Friday -> 9am untill 12pm
                    </div>
                    <br>
                    <div class="form-group">   
                        <input type="text" id="matric_no" class="form-control" name="matric_no" placeholder="Matric no."><br>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="date" id="booking_date" class="form-control" name="booking_date" placeholder="Date">
                        </div>
                        <div class="col-6">
                            <input type="text" id="booking_time" class="form-control" name="booking_time" placeholder="Time: eg.(2:00pm) ">
                        </div>
                    </div>
                    <br>
                    <input id="book-pop-up" type="submit" class="btn btn-block w-100" style="background-color:#721B09; color:white;" value="Book" />
                </form>
            </div>
        </div>
     </div>
</div>

<script>
    $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;

    // or instead:
    // var maxDate = dtToday.toISOString().substr(0, 10);

    
    $('#booking_date').attr('min', maxDate);
});
</script>