<div class="container-fluid vh-100" style="background-color:#721B09;">
     <div class="row justify-content-center h-100">
        <div class="card w-50 my-auto shadow">
            <div class="card-header text-center">
                <div class="row">
                    <div class="col-6">
                        <img src="../images/Logo-PKU.png" alt="utm-pku-logo" style="width: 13vw; height: 7vh">
                    </div>
                    <div class="col-6">
                        <h2 class="text-center p-2" style="color:#721B09;">Book Appointment</h2>
                    </div>
                </div>
            </div>
            <div class="card-body"> 
                <form class="p-5" action="" method="POST">
                    <div class="form-group">   
                        <input type="text" id="matric_no" class="form-control" name="matric_no" placeholder="Matric no."><br>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="date" id="booking_date" class="form-control" name="booking_date" placeholder="Date">
                        </div>
                        <div class="col-6">
                            <input type="text" id="booking_time" class="form-control" name="booking_time" placeholder="Time">
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-block w-100" style="background-color:#721B09; color:white;" value="Book" />
                </form>
            </div>
        </div>
     </div>
</div>