<header>
        <div class="wrapper">
            <div class="logo">
                <img src="../images/Logo-PKU.png" alt="utm-pku-logo" style="width: 30vw; height: 13vh">
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="/">Home</a></li>               
                    <li><a href="register">Sign Up</a></li>
                    <li><a href="login">Login</a></li>
                </ul>
            </div>
            <div class="list-nav-menu">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
            </div>
        </div>

        <div class="welcome-text">
            <h1>Welcome to E-clinic UTM</h1>
            <a href="register">Sign Up</a>
        </div>
    </header>

    <div class="footer">
    </div>
    <footer>
        <p>Copyright &copy; PKU UTM</p>
    </footer>