<div class="container" id="container">
      <div class="header" style="background-color:white; color:#721B09; ">
        <img class="logo" src="../images/Logo-PKU.png" alt="ClinicCareLogo" />
        
        <div>
            <h3>Welcome to E-clinic UTM</h3>
            <p style="text-align: center;">Hi, {{doctorname}}  </p>
        </div>

        <div class="nav-images">
          <a href="#" class="nav-logos"
            ><img src="../images/settings.png" alt=""
          /></a>

          <div class="dropdown-notification">
            <a href="#" class="nav-logos"
              ><img src="../images/notification.png" alt=""
            /></a>
            <div class="dropdown-content">
              <a href="#">You have missed an appointment</a>
              <a href="#">Clear all notification</a>
            </div>
          </div>

          <div class="dropdown-user">
            <a href="# " class="nav-logos"
              ><img src="../images/user.png " alt=" "
            /></a>
            <div class="dropdown-content2">
              <a href="/doctorlogout">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <div class="sidebar" id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar()">
          <a href="" onclick=" return false">
            <div id="arrow-left"></div>
          </a>
        </div>

        <a href="/doctordashboard" class="nav-active"
          ><img src="../images/home.png" />Home</a
        >
        <a href="/viewpatientreport"
          ><img src="../images/diagnostic.svg" alt="" />View Patient Prescriptions</a
        >
        <a href="/doctorlogout"
          ><img src="../images/logout.png" alt="" />Logout
        </a>
      </div>

      <div class="main" style="background-color:#8d8787; color:white; ">
        <div class="top-container">
            <div class="report-heading">
                <h1>Enter Patient ID</h1>
            </div>
            {{#if message}}
              <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Sorry!</strong> {{message}}.
              </div>
            {{/if}}
            <form action="/viewpatientprescription" method="POST" enctype="application/json">
              <div class="box-container">
               <input class="input-type-text" type="text" id="matric_no" name="matric_no" placeholder="Matric no."><br>
               <button class="box-container-button" value="submit">View</button> 
            </div>
            </form>
        </div>
      </div>
</div>

    <script type="text/javascript">
      function toggleSidebar() {
        document
          .getElementById("container")
          .classList.toggle("container-no-sidebar");
        document.getElementById("sidebar").classList.toggle("active");
        document.getElementById("arrow-left").classList.toggle("active");
      }

    </script>